* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*nav bar*/
nav {
    height: 80px;
    background: rgb(255, 255, 255);
}

a{
    text-decoration: none;
}

nav img {
    width: 65px;
    position: absolute;
    top: 5px;
    left: 4%;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-transform: uppercase;
}

/*header*/
.main-image {
    position: relative;
    background: url(../images/header.png) no-repeat center;
    background-size: cover;
    height: 500px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
}

.container h1 {
    margin: 0;
    font-size: 70px;
}

.container h1 span {
    border: 4px solid white;
    padding: 6px 14px;
    display: inline-block;
}
.cen {
    margin: 20px;
    display: block;
    font-size: 25px;
}

/*photo image*/
body {
    min-height: 100vh;
    overflow-x: hidden;
}

.main {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
    column-gap: 10px;
    row-gap: 10px;
}

.img1 {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.img2 {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.img3 {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.img4 {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.img5 {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.img6 {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.img7 {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}