/*followed YouTube tutorial on how to make a navbar with hero image*/
/*hero image and navbar code start*/
body {
    background-image: url(images/heroimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
  
.snip {
    font-family: tahoma;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
  
.snip * {
    box-sizing: border-box;
    transition: all 0.35s ease;
}
  
.snip li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 0.8em;
    padding: 0;
}
  
.snip a {
    display: inline-block;
    padding: 1em 27px;
    color: rgb(254, 241, 183);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
}
  
.snip a:before {
    left: 18%;
    right: 18%;
    top: 50%;
    content: '';
    border-left: 12px solid white;
    border-right: 12px solid white;
    transform: translateY(-50%);
    height: 3px;
    opacity: 0;
    position: absolute;
    transition: all 0.35s ease;
}
  
.snip a:hover,
  .snip .current a{
    color: white;
}
  
.snip a:hover:before,
    .snip .current a:before{
      color:white;
}
  
.snip a:hover:before,
    .snip .current a:before {
      left: 0;
      right: 0;
      opacity: 1;
}
  
.snip li {
    background-color: #589fa7;
}
/*hero image and navbar code end*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

h1 {
    color:#D8736F;
    font-size: 350%;
    font-weight: 500;
    letter-spacing: 8px;
}

h2 {
    color: #e19c9a;
    font-size: 180%;
    font-weight: 400;
}

.image {
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    font-size: 150%;
    color: #54858b;
    margin-bottom: 1%;
}

img {
    border-radius: 30px;
}